:root{
  --body-font: "Open Sans";
  --white: #FFFBEF;
  --bg: #FFFDF8;
  --black: #101010;
  --wine-red: #5C0511;
  --orange: #d3933a;
}

.app__content {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
      "header"
      "content"
      "footer ";
  grid-template-columns: 6fr;
  grid-template-rows: 60px auto 40px;
  background: #fffdf8;
  grid-auto-rows: 150px;
}

/* .footer, .navmenu {
  background-color: #fffbef;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
} */

.footer {
  grid-area: footer;
  background-color: #fffbef;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
}

.navmenu {
  grid-area: header;
  background-color: #fffbef;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.42);
  z-index: 0;
}

.main-body{
  grid-area: content;
}

.background-image{
  max-height: 100vh;
}